<h1>User Locations</h1>
<div> <%= link_to t('delete_all'), delete_all_user_locations_path, confirm: 'Delete all user locations?', :method => :delete %></div>
<br />
<table>
		<tr class=header>
			<td>
				User id
			</td>
			<td>
				Point
			</td>
			<td>
				Send Method
			</td>
			<td>
				Time Stamp
			</td>
		</tr>
<%= render @user_locations %>
</table>
<br />
<%= link_to "New User Location", new_user_location_path%>