header
{
	color: #1B1B24;
	color: hsla(247,95%,76%,1);
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 5px;
	margin: -7px;
	margin-bottom: 0px;
}

body {
	  background: #1B1B24;
	  color: #9391ac;
	  color: hsla(246,14%,62%,1);
	  font-family: 'Helvetica Neue', Helvetica, Arial Geneva, sans-serif;
	  font-size: 13px;
	  text-align: left;
	}

p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

h1 {
	color: #1B1B24;
	color: hsla(247,95%,76%,1); }

a {
	color: #B5B4FF;
  &:hover {
		color: #1B1B24;
		color: hsla(247,95%,76%,1); } }

div {
  &.field &.actions {
    margin-bottom: 10px; } }

table {
	border: 1.5px solid hsla(247,95%,76%,.8);
	}
	
tr {text-align: center;
	&.header{font-weight: bold;}
	}

td {
		text-align: center;
		border: 1px solid hsla(247,95%,76%,.8);
		padding: 3px;
		&.left{text-align: left;}
		}
		
th {
		text-align: center;
		border: 1px solid hsla(247,95%,76%,.8);
		padding: 3px;
		font-weight: bold;
	}

input, select {
		background-color: hsla(247,40%,70%,.8);
 		border: 1.5px solid hsla(247,95%,76%,.8);
		&:hover {background-color: hsla(247,95%,76%,.8);}	
		}

#notice {
  color: hsla(247,95%,76%,1); }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
